# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-JQ6N4DMJRW"
STRAPI_BACKEND_URL="http://localhost:1337"
STRAPI_API_TOKEN="aa3646de4de0e4fb3ba16c3785e30d4d0d41f2dfff5a6316912228cc52db719e1bfbac3cfb0f00b8fc6868d9822ca7c283a80589a0a0ccff1a811c80686781918d3a22f2902cf5ffe489b6224a32485eba4cc03d2db24f4096b6729f2c3eb10f2af11530a01db79f3c2d9cfe01a1b15288fa2b1b9fdf8d8ccf36b40d3c6b1cd7"
